body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9fafc;
    color: #333;
    padding: 30px;
}

header {
    background: #f4f4f4;
    color: #333;
    padding: 10px 0;
    width: 100%;
    border-bottom: #ccc 1px solid;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 10px;
}

header .highlight, header .current a {
    color: #00BFFF;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 80px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

.content {
    flex: 1;
    padding: 20px;
}

.iframe-container {
    width: 100%;
    border: none;
    height: 1200px;
}

.content section {
    margin-bottom: 40px;
}

.content h1 {
    font-size: 24px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.content h2 {
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.content p {
    line-height: 1.6;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

code {
    font-family: Consolas, "Courier New", monospace;
    color: #d63384;
}

.preformatted {
    /* display: block; */
    white-space: pre-wrap; /* 支持自动换行 */
    text-indent: 0; /* 取消段落首部缩进 */
}

blockquote {
    border-left: 4px solid #ccc;
    padding-left: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 15px;
    color: #555; /* 设置引用内文字颜色为灰色 */
}

/* .italic {
    font-style: italic;
} */
